* {
  box-sizing: border-box;
}

body {
  background-color: rgb(189, 202, 211);
  text-align: center;
  overflow: hidden;
  margin: 0;
}

h3 {
  font-size: 2.4rem;
  margin-bottom: 0;
  text-align: center;
}

span {
  padding: 10px;
}

small {
  display: block;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.3rem;
}

.fa-heart {
  color: rgb(255, 34, 0);
}

.heartIt {
  height: 600px;
  width: 400px;
  background: url('https://images.unsplash.com/photo-1559493909-ee5feb0b298d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80')
    no-repeat center center/cover;
  margin: auto;
  cursor: pointer;
  max-width: 100%;
  position: relative;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.22);
  overflow: hidden;
}

.heartIt .fa-heart {
  position: absolute;
  animation: grow 0.6s linear;
  transform: translate(-50%, -50%) scale(0);
}

@keyframes grow {
  to {
    transform: translate(-50%, -50%) scale(10);
    opacity: 0;
  }
}
